@model IEnumerable<Verzamelwoede_NonBroken.Models.Item>

@{
    ViewData["Title"] = "Items in category:";
}

<h1>Items in category:</h1>
@*<label asp-for="CategoryId" asp-items="Model.Categories" class="form-control"></label>*@
@Html.DisplayNameFor(modelItem => modelItem.Category) <!-- Doet niet wat verwacht; geeft of Category of Name maar niet de echte naam vd category.-->
<!-- Ook wel begrijpelijk, ik voer nu een LINQ uit... Ik moet de naam van de category op deze id. Maar ik heb het model Category niet.-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
        </tr>
}
    </tbody>
</table>
